/* 
Color Palette

#274060  blue (main color)
#BCAA96
#222222
#D3D4D6
#F6F6F6  off white
*/

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    background: #F6F6F6;
    margin: 0px;
    font-family: 'lato', sans-serif;

}

h1, h2,h3{
    font-family: "Lato", cursive;
    font-weight: 420;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.1rem;
}

h3{
    font-size: 1.5 rem;
}



a{
    color: #274060;

}

a:hover{
    color:#BCAA96 ;
    text-decoration-line: none;
}

.btn{
    background-color:#274060;
    color: #D3D4D6;
    max-width: 900px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border-radius: 10%;
    font-weight: 450;
}

.content-wrapper{
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
}

/*-----Home---------------------------------------------------------------*/
.home{
    background: url(../images/bg-coffee-shop.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.content-bg{
    background: rgb(255 255 255 / 0.9);
}


 .home .content-wrapper{
     flex: 1 0 auto;
}

.home .content-wrapper a{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20%;
}
    

/*-----Resume---------------------------------------------------------------*/
.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #274060;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline:scroll();

}

@keyframes scroll-watcher {
    
    to {scale:1 1;}
}

.resume header::before{
    background: url(../images/images/resume-page-image.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 400px;
}

.resume-section{
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px dashed #D3D4D6;
}
.btn{
    color: #D3D4D6;
    background-color: #274060;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 5px;
}

@media screen and (max-width: 641px) {

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.1rem;
    }
} 


/*-----Profile---------------------------------------------------------------*/



/*-----Projects---------------------------------------------------------------*/
.project_item{
    margin: 20px 0;

}

.project_item img{
    width: 300px;
    
}

@media screen and (min-width: 860px) {
    .project_item{
        display: flow-root;
    }

    .project_item img{
        
        float: left;
        margin-right: 20px;
    }
}


@media screen and (min-width:650px) and (max-width: 859px) {
    .project-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project_item img{
        width: 50%;
        
    }

}

/*------------------------- Services------------------------------------------------------ */
.container{
    display: inline-block;
    background-color:#BCAA96;
    border-radius: 5px;
    position: relative;
    padding:20px;
    margin: 10px;
    height: 350px;
    width: 250px;
    color: #F6F6F6;
}

.container h3{
    font-weight: 400;
}

.container .fa-solid{
    font-size: x-large;
    margin-bottom: 40px;
}

.container button{
    position: absolute;
    bottom: 20px; 
    left: 23%;
    transform: translateX(-50%); 
    padding: 10px 20px; 
    background-color:#BCAA96;
    color: white;
    border: solid; 
    border-radius: 20px; 
    cursor: pointer; /* Changes cursor to pointer on hover */
}

/* .button_div{

} */


/*-----Work Experience---------------------------------------------------------------*/

.work-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 20px;
}




/*-----Education---------------------------------------------------------------*/

/*-----Footer---------------------------------------------------------------*/
footer{
    background:#222222 ;
    color: #BCAA96;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

footer a{
    color:#BCAA96;
    text-decoration: none;
}

.socials{
    list-style-type: none;
    padding: 0;
}

.socials li{
    display: inline-block;
    margin-left: 10px;
}

.socials img{
    width: 32px;
}

.socials img:hover{
    opacity: .5;
}




@media screen and (max-width: 860px) {
    
    footer{
        padding: 0px;
        display: grid;
        grid-template-rows:100px, auto;
        text-align: center;
        justify-content: space-evenly;
        
    }
    
}